:root {
    --md-primary-fg-color:        #b63d12;
    --md-primary-fg-color--light: #eea78a;
    --md-primary-fg-color--dark:  #6d2105;
    --md-accent-fg-color:         #b63d12;
}

article img {
    border:        1px #505050 solid;
    border-radius: 3px;
    box-shadow:    0 0 5px #ccc;
}
article img[align="right"] {
    margin-left: 16px;
}
article img[align="left"] {
    margin-right: 16px;
}
img[src*="#smartphone"] {
    max-height: 600px;
}
img[src*="#small"] {
    max-width:     50%;
    margin-bottom: 19px;
}
img[src*="#small-square"] {
    max-width:     40.5%;
    margin-bottom: 19px;
}
img[src*="#medium"] {
    max-width:     65%;
    margin-bottom: 19px;
}
article .number {
    display:          inline-block;
    width:            1.55em;
    height:           1.55em;
    text-align:       center;
    color:            #fff;
    background-color: #f00;
    border-radius:    25px;
}
article .number.secondary {
    background-color: #fa0;
}
article .number.space-right {
    margin-right: 6px;
}
article .clear {
    clear: both;
}
article .margin-bottom {
    margin-bottom:  38px;
}
article .margin-bottom-large {
    margin-bottom:  52px;
}

@page {
    @bottom-left {
        font-size: 12px;
        content:   'ConAktiv Mobile4 Handbuch';
    }
    @top-right {
        content: 'Seite ' counter(page);
    }
}

@media print {
    img {
        width: 100%;
    }
}
